
/* append bootstrap cls */
.m-y-2 {
    height: 0.4rem;
}

div.container-fluid {
    padding-left: 0%;
    padding-right: 0%;
}

/*  search page css define */
li.pop-category {
    display: inline-block;
    margin-right: 0.4rem;
}

div.isotope-nav {
    width  : 80%;
}

.canvas-section {
    background-color:#1fbda5;
    height: 10rem;
}

.canvas-section-background {
    background-blend-mode: overlay;
    background-image: url("/images/bg-page-section-light.png");
}

.search-container-warpper {
    padding-top: 1rem;
}