<!-- defined page header -->
@{head('/css/app/common.css')}
@{scss('/scss/app/index.scss')}

<!-- define javascript -->
@{head('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.1/isotope.pkgd.js"></script>')}
@{head('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>')}
<!-- load common config -->
@{head('<script type="text/javascript" src="/js/lib/require.js" data-main="/js/common"></script>')}
@{head('<script type="text/javascript">requirejs(["app/index"]);</script>')}


<!-- set content -->
<div class="clearfix m-y-2"></div>

<!-- body content -->
<div class="container-fluid" id="main">

    <!-- main banner -->
    <div class="home-section home-main">

        <div class="container">

            <div class="row">

                <div class="col-sm-6">
                    <h1 class="home-hero-title">Your 3D on the web</h1>
                    <p class="home-hero-subtitle">Publish your 3D files, explore a million things in VR.</p>

                    <div class="home-hero-actions">
                        <a class="btn btn-primary" href="/signup" data-action="open-signup">Join for free</a>
                    </div>
                </div>

                <div class="col-sm-6">

                    <div id="main-canvas" style="height:24rem ; background-color: #112233;">


                    </div>


                </div>


            </div>

        </div>
    </div>

    <div class="home-section home-search">

        <div class="container">

            <div class="search-area">
                <form class="form-search form-inline" action="/search" method="get" id="search_form">
                    <div class="input-group">
                        <input type="text" name="keyword" class="form-control">
                        <a class="btn input-group-addon" href="javascript:document:search_form.submit();">
                            <i class="fa fa-search fa-fw" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
            </div>

        </div>

    </div>

    <div class="row show-entry">
        <a href="/features" class="button btn-huge btn-primary js-video-tour">
            See more cool features
        </a>
    </div>


    <!-- category shown images --->
    <div class="row">


        <div class="col-lg-12">


            <!-- show container -->
            <div class="container category-exhibition">

                <h2 class=""> 3D 和 VR模型分类 </h2>


                <div class="isotope-nav home-category" data-isotope-nav="isotope">
                    <ul class="nav">
                        <li class="nav-link"><a href="#" class="active cate-header" data-filter="*">全部</a></li>
                        <li class="nav-link"><a href="#" data-filter=".web-design" class="cate-header">最新上传</a></li>
                        <li class="nav-link"><a href="#" data-filter=".development" class="cate-header">VR/AR</a></li>
                        <li class="nav-link"><a href="#" data-filter=".joomla" class="">常规模型</a></li>
                        <li class="nav-link"><a href="#" data-filter=".wordpress" class="">游戏模型</a></li>
                    </ul>
                </div>


                <!-- show model item element -->
                <div class="row isotope-grid">

                    <div class="col-sm-3 isotope--grid-item">
                        <div class="card card-block">
                            <figure class="effect-oscar">
                                <img src="images/portfolio/portfolio1.jpg" alt="">
                                <figcaption>
                                    <h3>Startup Business</h3>
                                    <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                                       href="images/portfolio/portfolio-bg1.jpg"><i class="fa fa-search"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-3 isotope--grid-item">
                        <div class="card card-block">
                            <figure class="effect-oscar">
                                <img src="images/portfolio/portfolio2.jpg" alt="">
                                <figcaption>
                                    <h3>Startup Business</h3>
                                    <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                                       href="images/portfolio/portfolio-bg2.jpg"><i class="fa fa-search"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-3 isotope--grid-item">
                        <div class="card card-block">
                            <figure class="effect-oscar">
                                <img src="images/portfolio/portfolio3.jpg" alt="">
                                <figcaption>
                                    <h3>Startup Business</h3>
                                    <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                                       href="images/portfolio/portfolio-bg3.jpg"><i class="fa fa-search"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-3 isotope--grid-item">
                        <div class="card card-block">
                            <figure class="effect-oscar">
                                <img src="images/portfolio/portfolio4.jpg" alt="">
                                <figcaption>
                                    <h3>Startup Business</h3>
                                    <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                                       href="images/portfolio/portfolio-bg4.jpg"><i class="fa fa-search"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="col-sm-3 isotope--grid-item">
                        <div class="card card-block">
                            <h3 class="card-title">Special title treatment</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>


                </div>

            </div>


        </div>

    </div>


</div>


