<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- append css -->
    @{css('index.css')}
    @{scss('sass/default.scss')}

    <script src="/js/jquery-3.1.0.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/tether/1.3.1/js/tether.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"
            integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.1/isotope.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
    @{head}
</head>
<body>

<!-- nav bar start -->
@{view('common/navbar')}
<!-- nav bar end -->

@{body}

<!-- footer -->
@{view('common/footer')}
<!-- footer -->

</body>
</html>