<!-- set content -->
<div class="clearfix m-y-1"></div>

<!-- body content -->
<div class="container-fluid" id="main">

    <!-- main banner -->
    <div class="row">
        <div class="col-lg-12">
            base
        </div>
    </div>



    <!-- category shown images --->
    <div class="row">


        <div class="col-lg-12">

            <!-- show container -->
            <div class="container category-exhibition">

                <div class="isotope-nav" data-isotope-nav="isotope">
                    <ul>
                        <li><a href="#" class="active" data-filter="*">All</a></li>
                        <li><a href="#" data-filter=".web-design" class="">Web Design</a></li>
                        <li><a href="#" data-filter=".development" class="">Development</a></li>
                        <li><a href="#" data-filter=".joomla" class="">Joomla</a></li>
                        <li><a href="#" data-filter=".wordpress" class="">Wordpress</a></li>
                    </ul>
                </div>


                <!-- show model item element -->
                <div class="row isotope-grid">

                    <div class="col-sm-3 isotope--grid-item">
                        <div class="card card-block">
                            <figure class="effect-oscar">
                                <img src="images/portfolio/portfolio1.jpg" alt="">
                                <figcaption>
                                    <h3>Startup Business</h3>
                                    <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                                       href="images/portfolio/portfolio-bg1.jpg"><i class="fa fa-search"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-3 isotope--grid-item">
                        <div class="card card-block">
                            <figure class="effect-oscar">
                                <img src="images/portfolio/portfolio2.jpg" alt="">
                                <figcaption>
                                    <h3>Startup Business</h3>
                                    <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                                       href="images/portfolio/portfolio-bg2.jpg"><i class="fa fa-search"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-3 isotope--grid-item">
                        <div class="card card-block">
                            <figure class="effect-oscar">
                                <img src="images/portfolio/portfolio3.jpg" alt="">
                                <figcaption>
                                    <h3>Startup Business</h3>
                                    <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                                       href="images/portfolio/portfolio-bg3.jpg"><i class="fa fa-search"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-3 isotope--grid-item">
                        <div class="card card-block">
                            <figure class="effect-oscar">
                                <img src="images/portfolio/portfolio4.jpg" alt="">
                                <figcaption>
                                    <h3>Startup Business</h3>
                                    <a class="link icon-pentagon" href="portfolio-item.html"><i class="fa fa-link"></i></a>
                                    <a class="view icon-pentagon" data-rel="prettyPhoto"
                                       href="images/portfolio/portfolio-bg4.jpg"><i class="fa fa-search"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="col-sm-3 isotope--grid-item">
                        <div class="card card-block">
                            <h3 class="card-title">Special title treatment</h3>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>


                </div>

            </div>


        </div>

    </div>


</div>


