$blue: rgb(28, 170, 217);
$black: #1d1d1d;
$margin: 16px;

$nav-font-size: 0.9rem;

/* navigator scss  */
nav {

  font-size: $nav-font-size;

  .navbar-nav {

    li.nav-menu {
      a.nav-link {

        &:hover {
          color: #ffffff;
        }

      }

    }

    li.nav-btn-group {

      a.nav-link {
        color: #ffffff;

        &:hover {
          color: #ffffff;
        }

      }
    }

  }
}



/* append bootstrap cls */
.m-y-2 {
  height: 0.4rem;
}

/* main div container */
#main {

  .home-main {
    background: $black url(/images/bg-page-section-light.png) left top repeat-x;
    height: 26rem;

    div.row {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

  }

  .home-search {
    background: $blue url(/images/bg-page-section-light.png) left top repeat-x;
    height: 10rem;
  }

}



div.container-fluid {
  padding-left: 0%;
  padding-right: 0%;
}

/*  search page css define */
li.pop-category {
  display: inline-block;
  margin-right: 0.4rem;
}

div.isotope-nav {
  width: 80%;
}

.canvas-section {
  background-color: #1fbda5;
  height: 10rem;
}

.canvas-section-background {
  background-blend-mode: overlay;
  background-image: url("/images/bg-page-section-light.png");
}

.search-container-warpper {
  padding-top: 1rem;
}


.isotope--grid-item {
  width: 25%;
}

.isotope--grid-item--width2 {
  width: 50%;
}

figure.effect-oscar img {
  display: block;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.category-exhibition {
  width: 80%;
}

.isotope--grid-item {
  width: 25%;
}

.isotope--grid-item--width2 {
  width: 50%;
}

figure.effect-oscar img {
  display: block;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.category-exhibition {
  width: 80%;
}