<!-- defined page header -->
@{head('/css/app/common.css')}
@{scss('/scss/app/models/list.scss')}


<!-- ADD CUSTOM CODE TO HEAD -->
@{head('<script type="text/javascript" src="/js/typeahead.js"></script>')}

<!-- set content -->
<div class="clearfix m-y-2"></div>

<!-- body content -->
<div class="container-fluid" id="main">

    <!-- main banner -->
    <div class="row">
        <div class="col-md-12">

            <div class="container isotope-nav" data-isotope-nav="isotope">
                <ul>
                    <li class="pop-category"><a href="#" class="active" data-filter="*">All</a></li>
                    <li class="pop-category"><a href="#" data-filter=".web-design" class="">Web Design</a></li>
                    <li class="pop-category"><a href="#" data-filter=".development" class="">Development</a></li>
                    <li class="pop-category"><a href="#" data-filter=".joomla" class="">Joomla</a></li>
                    <li class="pop-category"><a href="#" data-filter=".wordpress" class="">Wordpress</a></li>
                </ul>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-md-12 canvas-section canvas-section-background">
            <div class="container">

                <div class="search-area">
                    <form class="form-search form-inline" action="/search" method="get" id="search_form">
                        <div class="input-group">
                            <input type="text" name="keyword" class="form-control">
                            <a class="btn input-group-addon" href="javascript:document:search_form.submit();">
                                <i class="fa fa-search fa-fw" aria-hidden="true"></i>
                            </a>
                        </div>
                    </form>
                </div>

                <div class="search-result-area">

                    <h6 class="search-result-counter">
                        你找到 <strong>2,101</strong> <em>VR/AR 模型</em>的记录
                    </h6>


                    <div class="keyword-result">
                        <p class="author-search-result">
                            使用的关键字查询是：
                            <a href="/user/bootstrap">
                                <img src="https://0.s3.envato.com/files/383225.jpg" width="25" height="25"
                                     alt="bootstrap">bootstrap
                            </a>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>




    <!-- category shown images --->
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Gallery</h1>
        </div>

        <div class="col-md-12">

            <!-- show container -->
            <div class="container category-exhibition">


                <!-- show model item element -->
                <div class="row isotope-grid">

                    @{foreach modelItem in repository.prodModels}
                    <div class="col-xs-6 col-sm-3 isotope--grid-item">
                        <div>
                            <figure class="effect-oscar img-thumbnail">
                                <img src="@{modelItem.image}" alt="text">
                            </figure>
                        </div>
                    </div>
                    @{end}


                </div>

            </div>


        </div>

    </div>


</div>


