<!-- defined page header -->
@{head('/css/app/common.css')}
@{scss('/scss/app/models/list.scss')}


<!-- ADD CUSTOM CODE TO HEAD -->
@{head('<script type="text/javascript" src="/js/typeahead.js"></script>')}

<!-- set content -->
<div class="clearfix m-y-2-2"></div>

<!-- body content -->
<div class="container-fluid" id="main">

    <!-- main banner -->
    <div class="row">
        <div class="col-md-12">

            <div class="container">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"><a href="#textSearch" class="nav-link active" role="tab" data-toggle="tab">文本搜索</a></li>
                    <li class="nav-item"><a href="#imgSearch" class="nav-link" role="tab" data-toggle="tab">图片搜索</a></li>
                </ul>
            </div>


        </div>
    </div>

    <div class="row">


        <!-- create a tab -->
        <div class="col-md-12 canvas-section canvas-section-background">

            <div class="container tab-content">

                <!-- text search area -->
                <div role="tabpanel" class="tab-pane" id="textSearch">

                    <div class="search-area">
                        <form class="form-search form-inline" action="/search" method="get" id="search_form">
                            <div class="input-group">
                                <input type="text" name="keyword" class="form-control">
                                <a class="btn input-group-addon" href="javascript:document:search_form.submit();">
                                    <i class="fa fa-search fa-fw" aria-hidden="true"></i>
                                </a>
                            </div>
                        </form>
                    </div>

                    <div class="search-result-area">

                        <h6 class="search-result-counter">
                            你找到 <strong>2,101</strong> <em>VR/AR 模型</em>的记录
                        </h6>


                        <div class="keyword-result">
                            <p class="author-search-result">
                                使用的关键字查询是：
                                <a href="/user/bootstrap">
                                    <img src="https://0.s3.envato.com/files/383225.jpg" width="25" height="25"
                                         alt="bootstrap">bootstrap
                                </a>
                            </p>
                        </div>

                    </div>

                </div>

                <div role="tabpanel" class="tab-pane" id="imgSearch">
                </div>


            </div>
        </div>


    </div>

   <!-- category shown images --->
    <div class="row">

        <div class="col-lg-12">
            <!-- sort icon -->
            <div class="container">

                <div class="query-sorts">

                    <label class="query-label">
                        排序
                    </label>

                    <div class="options">
                        <a class="option help" data-value="-likeCount" href="#">
                            <div class="tooltip tooltip-down">收藏</div>
                            <i class="icon fa fa-star"></i>
                        </a>
                        <a class="option help active" data-value="-viewCount" href="#">
                            <div class="tooltip tooltip-down">浏览</div>
                            <i class="icon custom-icons icon-eye-icon"></i>
                        </a>
                        <a class="option help" data-value="-publishedAt,-processedAt" href="#">
                            <div class="tooltip tooltip-down">最近</div>
                            <i class="icon fa fa-clock-o"></i>
                        </a>
                    </div>

                </div>

            </div>
        </div>

        <!-- content layer -->
        <div class="col-lg-12">

            <!-- show container -->
            <div class="container category-exhibition">


                <!-- show model item element -->
                <div class="row isotope-grid">

                    @{foreach modelItem in repository.prodModels}
                    <div class="col-xs-6 col-sm-3 isotope--grid-item">
                        <div class="img-thumbnail">
                            <figure class="effect-oscar">
                                <img src="@{modelItem.image}" alt="text">
                            </figure>

                            <div class="model-card-meta">
                                <div class="model-card-name">hello</div>
                                <div class="model-name">yes</div>
                            </div>

                        </div>

                    </div>
                    @{end}


                </div>

            </div>
        </div>

        <!--- load content --->
        <div class="col-lg-12 container">

            <div class="loadmore-area">

                <a href="#" class="btn btn-primary btn-huge loadmore">加载更多</a>
            </div>


        </div>

    </div>


</div>


