<!-- set content -->
<div class="clearfix m-y-2"></div>

<div class="container" id="main">

    <!-- title container -->
    <div class="row">
        <h1 class="card-header">Item header</h1>
    </div>


    <!-- category shown images --->
    <div class="row">

        <!-- left side -->
        <div class="col-md-8">
            <img src="images/portfolio/portfolio4.jpg" class="img-thumbnail" >


        </div>

        <!-- right side -->
        <div class="col-md-4">
            <!-- base header --->
            <div class="card card-block">
                会员信息
            </div>

        </div>

    </div>


</div>


