$nav-font-size: 0.9rem;


#main {


  .canvas-section {
    background-color: #1fbda5;
    height: 10rem;
  }

  .canvas-section-background {
    background-blend-mode: overlay;
    background-image: url("/images/bg-page-section-light.png");
  }

  /*  search page css define */
  li.pop-category {
    display: inline-block;
    margin-right: 0.4rem;

    a {
      color: #1f5865;
    }

  }

  div.isotope-nav {
    width: 80%;
  }


  .search-area {
    padding-top: 1rem;
    width: 40rem;
    margin: 1rem auto 0;

    .input-group {
      margin: 0 auto 0;

      width: 20%;

    }

  }


  .isotope--grid-item {
    width: 25%;
  }

  .isotope--grid-item--width2 {
    width: 50%;
  }

  figure.effect-oscar img {
    display: block;
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .category-exhibition {
    width: 80%;
  }

  .isotope--grid-item {
    width: 25%;
  }

  .isotope--grid-item--width2 {
    width: 50%;
  }

  figure.effect-oscar img {
    display: block;
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .category-exhibition {
    width: 80%;
  }

}