$nav-font-size: 0.9rem;


#main {


  .canvas-section {
    background-color: #1fbda5;
    height: 10rem;
  }

  .canvas-section-background {
    background-blend-mode: overlay;
    background-image: url("/images/bg-page-section-light.png");
  }

  /*  search page css define */
  li.pop-category {
    display: inline-block;
    margin-right: 0.4rem;

    a {
      color: #1f5865;
    }

  }

  div.isotope-nav {
    width: 80%;
  }


  .search-area {
    padding-top: 1rem;
    width: 27rem;
    margin: 0 auto 0;

    .input-group {

      input.form-control {
        border: 0;
        height: 3rem;
      }

      a {
        border: 0;
        background-color: #ffffff;
        color: #666;
        font-size: 1.3rem;

        &:hover {
          background-color: #e3e3e3;
          color: #1fbda5;
        }
      }

    }
  }

  .search-result-area {
    width: 35rem;
    margin: 0 auto 0;
    color: #fff;
    padding-top: 1rem;

    text-align: center;

    .search-result-counter {
      margin-bottom: 0.8rem;
    }

    .keyword-result {
      border-top: 1px solid rgba(255, 255, 255, 0.3);

      p.author-search-result {
        margin-top: 0.8rem;
        font-size: 0.9rem;
      }

    }

  }

  .nav-tabs {

    .nav-item {

      .nav-link {

      }
    }

  }


  .loadmore-area {


    margin: 0 auto 0;

    .loadmore {


    }

  }





  .isotope--grid-item {
    width: 25%;
  }

  .isotope--grid-item--width2 {
    width: 50%;
  }

  figure.effect-oscar img {
    display: block;
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .category-exhibition {
    width: 80%;
  }

  .isotope--grid-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .isotope--grid-item--width2 {
    width: 50%;
  }

  figure.effect-oscar img {
    display: block;
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .category-exhibition {
    width: 100%;
  }

  .query-sorts {

    margin-top: 1rem;

    .query-label {
      font-size: 0.9rem;
    }

    .options {
      position: relative;
      display: inline-block;
      margin-left: 1rem;
      margin-right: 1rem;

      .option {
        margin-left:0.5rem;

        a {
          color: #999;

          &:hover {
            color:#000;
          }
        }
      }
    }


  }

}