<nav class="navbar navbar-fixed-top navbar-dark bg-primary" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="http://www.bs4themes.com/">
            <i class="fa fa-home"></i>
            R-models
        </a>

        <!-- navbar-toggler -->
        <button class="navbar-toggler hidden-md-up pull-xs-right" data-target="#main-navbar" data-toggle="collapse" type="button">☰</button>

        <!-- nav item -->
        <div class="collapse navbar-toggleable-sm" id="main-navbar">
            <ul class="nav navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#all-themes">Free Themes</a>

                    <!-- sub dropdown-menu -->
                    <div aria-labelledby="Preview" class="dropdown-menu">
                        <a class="dropdown-item" href="/themes/default">Default</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/themes/flatro">Flatro</a>
                        <a class="dropdown-item" href="/themes/glacial">Glacial</a>
                        <a class="dropdown-item" href="/themes/glowworm">Glowworm</a>
                        <a class="dropdown-item" href="/themes/lacey">Lacey</a>
                        <a class="dropdown-item" href="/themes/slice">Slice</a>
                        <a class="dropdown-item" href="/themes/wired">Wired</a>
                    </div>
                </li>

                <!-- second item -->
                <li class="nav-item">
                    <a class="nav-link" href="/help">Help</a>
                </li>

                <!-- thrid item -->
                <li class="nav-item">
                    <a class="nav-link" href="/categories">分类</a>
                </li>

            </ul>

            <!-- second navbar-nav -->
            <ul class="nav navbar-nav hidden-sm-down pull-xs-right">
                <li class="nav-item nav-btn-group">

                    <span>Navbar style </span>

                </li>
            </ul>



        </div>

    </div>
</nav>