<nav class="navbar navbar-fixed-top navbar-dark" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="http://www.bs4themes.com/">
            <i class="fa fa-home"></i>
            R-models
        </a>

        <!-- navbar-toggler -->
        <button class="navbar-toggler hidden-md-up pull-xs-right" data-target="#main-navbar" data-toggle="collapse" type="button">☰</button>

        <!-- nav item -->
        <li class="collapse navbar-toggleable-sm" id="main-navbar">
            <ul class="nav navbar-nav">
                @{foreach menuItem in repository.menuModel}

                @{if menuItem.isleaf === true}
                <li class="nav-item nav-menu">
                    <a class="nav-link" href="@{menuItem.link}">@{menuItem.text}</a>
                </li>
                @{else}
                <li class="nav-item dropdown nav-menu ">

                    <a class="nav-link dropdown-toggle" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="@{menuItem.link}">@{menuItem.text}</a>

                    <!-- sub dropdown-menu , second node-->
                    <div aria-labelledby="Preview" class="dropdown-menu">
                        @{foreach subMenuItem in menuItem.children}
                        @{if subMenuItem.isdivider === true}
                        <div class="dropdown-divider"></div>
                        @{else}
                        <a class="dropdown-item" href="@{subMenuItem.link}">@{subMenuItem.text}</a>
                        @{fi}
                        @{end}
                    </div>
                </li>
                @{fi}
                @{end}
            </ul>

            <!-- second navbar-nav -->
            <ul class="nav navbar-nav hidden-sm-down pull-xs-right">
                <li class="nav-item nav-btn-group">
                    <a class="nav-link login btn btn-sm btn-primary" href="#"><i class="fa fa-user fa-fw"
                                                                                 aria-hidden="true"></i>&nbsp;
                        @{resource('login')}</a>
                </li>
            </ul>
        </div>

    </div>
</nav>