$blue: #3bbfce;
$margin: 16px;
.home-hero {
  background: #333 url(/images/fading-polygons-edd.png) left top repeat-x;
  height: 420px;
  background-color: $blue;
}

.isotope--grid-item {
  width: 25%;
}

.isotope--grid-item--width2 {
  width: 50%;
}

figure.effect-oscar img {
  display: block;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.category-exhibition {
  width: 80%;
}

.